<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>EventsHub</title>
</head>
<body>
  <header>
    <a href="#" class="logo">EventsHub</a>
    <nav>
        <a href="#" class="active">Home</a>
        <a href="#">Events</a>
        <a href="#">Join Us</a>
        <a href="#">More</a>
        <a href="#">Experience</a>
        <a href="#">Contact Us</a>
    </nav>
</header>
<section class="home">
  <div class="home-img">
      <img src="main.jpg" alt="">
  </div>
  <div class="home-content">
      <h1>Hi, It's <span>EventsHub</span></h1>
      <h3 class="typing-text">We are a <span></span></h3>
      <p>your trusted partner in crafting unforgettable experiences! From seamless planning to flawless execution, we turn your vision into reality with creativity and precision.</p>
      <div class="social-icons">
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#"><i class="fa-brands fa-github"></i></a>
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </div>
      <a href="#" class="btn">Give us a chance</a>
  </div>
</section>
</body>
</html>